<h1>Harvester Log</h1>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Harvester UUID:</td>
    <td><%= @harvest.harvester_uuid %></td>
  </tr>
  <tr>
    <td>Crop:</td>
    <td><%= link_to @harvest.crop.name, @harvest.crop %></td>
  </tr>
  <tr>
    <td>Began At:</td>
    <td><%= @harvest.began_at %></td>
  </tr>
  <tr>
    <td>Ended At:</td>
    <td><%= @harvest.ended_at %></td>
  </tr>
  <tr>
    <td>Duration:</td>
    <td><%= distance_of_time_in_words @harvest.duration %></td>
  </tr>
  <tr>
    <td>Total Records:</td>
    <td><%= @harvest.total_records %></td>
  </tr>
  <tr>
    <td>Number of Changes:</td>
    <td><%= link_to @harvest.number_of_changes, change_logs_path({:q => {:harvester_uuid_cont => @harvest.harvester_uuid, :transaction_type_cont => "change"}}) %></td>
  </tr>
  <tr>
    <td>Number of Adds:</td>
    <td><%= link_to @harvest.number_of_adds, change_logs_path({:q => {:harvester_uuid_cont => @harvest.harvester_uuid, :transaction_type_cont => "add"}}) %></td>
  </tr>
  <tr>
    <td>Number of Deletes:</td>
    <td><%= link_to @harvest.number_of_deletes, change_logs_path({:q => {:harvester_uuid_cont => @harvest.harvester_uuid, :transaction_type_cont => "delete"}}) %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Back', harvester_logs_path %>
