<h1>Changes</h1>

<a href="#" name="search">Search</a>
<%= search_form_for @q, url: request.path do |c| %>
    <div id="text_search">
      <%= c.text_field :crop_id_or_harvester_uuid_or_crop_number_or_current_value_or_previous_value_cont, :placeholder => "Search any text fields" %>
      <%= c.submit %>
      <%= link_to "clear", request.path %>
    </div>
<% end %>

<br>

<table>
  <tr>
    <th>Change Log</th>
    <th>Queued At</th>
    <th>Crop</th>
    <th>Primary Key</th>
    <th>Transaction Type</th>
    <th>Number of transactions</th>
  </tr>

  <% @changes.each do |change| %>
      <tr>
        <td><%= link_to "Show", change_path(change) %></td>
        <td><%= change.queue_time %></td>
        <td><%= link_to change.crop.name, crop_path(change.crop) unless change.crop.nil? %></td>
        <td><%= change.primary_key %></td>
        <td><%= change.transaction_type %></td>
        <td><%= link_to_if_not_zero change.transactions.count,    transactions_path({:q => {:change_uuid_eq => change.uuid}})%>


      </tr>
  <% end %>
</table>

<%= paginate @changes %>