<h1>Change</h1>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td>Change UUID:</td>
    <td><%= @change.uuid %></td>
  </tr>

  <tr>
    <td>Harvester UUID:</td>
    <td><%= link_to @change.harvest.uuid, harvest_path(@change.harvest) unless @change.harvest.nil? %></td>
  </tr>

  <tr>
    <td>Crop:</td>
    <td><%= link_to @change.crop.name, crop_path(@change.crop) unless @change.crop.nil? %></td>
  </tr>

  <tr>
    <td>Type:</td>
    <td><%= @change.transaction_type %></td>
  </tr>
  <tr>
    <td>Queue time:</td>
    <td><%= @change.queue_time %></td>
  </tr>

  <tr>
    <td>Primary key:</td>
    <td><%= @change.primary_key %></td>
  </tr>

  <tr>
    <td>Previous value:</td>
    <td><%= @change.previous_value %></td>
  </tr>

  <tr>
    <td>Current value:</td>
    <td><%= @change.current_value %></td>
  </tr>


  </tbody>

</table>

<br>

<%= link_to 'Back', changes_path %>
