<h1>Change</h1>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td>Change UUID:</td>
    <td><%= @harvest.uuid %></td>
  </tr>

  <tr>
    <td>Harvester UUID:</td>
    <td><%= link_to @harvest.harvest.uuid, harvest_path(@harvest.harvest) unless @harvest.harvest.nil? %></td>
  </tr>

  <tr>
    <td>Crop:</td>
    <td><%= link_to @harvest.crop.name, crop_path(@harvest.crop) unless @harvest.crop.nil? %></td>
  </tr>

  <tr>
    <td>Type:</td>
    <td><%= @harvest.transaction_type %></td>
  </tr>
  <tr>
    <td>Queue time:</td>
    <td><%= @harvest.queue_time %></td>
  </tr>

  <tr>
    <td>Primary key:</td>
    <td><%= @harvest.primary_key %></td>
  </tr>

  <tr>
    <td>Previous value:</td>
    <td><%= @harvest.previous_value %></td>
  </tr>

  <tr>
    <td>Current value:</td>
    <td><%= @harvest.current_value %></td>
  </tr>


  </tbody>

</table>

<br>

<%= link_to 'Back', changes_path %>
