<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= yield :title || "hi" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <% if flash[:notice] != nil %>
      <script>
          $.gritter.add({title: <%= "'"+flash[:notice]+"'" %>,
              text:':: Growl Notifications ::',
              time:'8000'
          });
      </script>
  <% end %>

</head>
<body>
<div id="doc3" class="doc">
  <a name="top"></a>

  <div id="hd">
    <div id="innerHd">
      <div id="hdBanner"><%= link_to "CACHE COW", root_url %></div><%#= link_to image_tag("logo.png", :alt => app_name), root_url %>
      <div id="hdSessionInfoAndTopNav">
        <div id="hdInnerSessionInfoAndTopNav">
          <div id="sessionInfo">
          </div>
          <div id="topNav">
            <ul>
              <li><%= link_to "Home", root_url %></li>
              <li><%= link_to "Crops", crops_path %></li>
              <li><%= link_to "Subscribers", subscribers_path %></li>
              <li><%= link_to "Subscriptions", subscriptions_path %></li>
              <li><%= link_to "Harvester Logs", harvests_path %></li>
              <li><%= link_to "Change Logs", changes_path %></li>
              <li><%= link_to "Transaction Logs", transactions_path %></li>
              <li><%= link_to "Delivery Logs", deliveries_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
  </div>
  <div id="bd">
    <% if Rails.env == "development" %>
        <p><%= controller_name.capitalize %></p>

        <p><%= params %></p>

        <p><%= session %></p>
    <% end %>
    <%- flash.each do |key, value| %>
        <div class="flash <%= key %>">
          <div><%= value %></div>
        </div>
    <%- end %>
    <%= yield %>
  </div>
  <div id="ft">
    <%= image_tag "cow.png", :title => "Cache Cow", :class => "cow" %>
    <div id="footerNav">
      Version: <%#= APP_VERSION['build_info']['version'] %>
      Build: <%#= APP_VERSION['svn_info']['Revision'] %> <%#= APP_VERSION['build_info']['timestamp'] %> <%#= APP_VERSION['build_info']['message'] %>
    </div>
    <div id="legal">
    </div>
  </div>
</div>

<div id="overlay" class="apple_overlay">
  <div class="contentWrap"></div>
</div>

</body>
</html>
