<h1>Transaction Logs</h1>

<table>
  <tr>
    <th>Delivery Log</th>
    <th>Queued At</th>
    <th>Delivery</th>
    <th>Subscriber</th>
    <th>Change</th>
    <th>Primary Key</th>
    <th>Transaction Type</th>
  </tr>

  <% @transactions.each do |transaction_log| %>
      <tr>
        <td><%= link_to "Show", transaction_log %></td>
        <td><%= transaction_log.queue_time %></td>
        <td><%= link_to "Delivery", transaction_log.delivery unless transaction_log.delivery.nil? %></td>
        <td><%= link_to transaction_log.subscription.subscriber.name, subscriber_path(transaction_log.subscription.subscriber) unless transaction_log.subscription.subscriber.nil? %></td>
        <td><%= link_to "Change", change_log_path(transaction_log.change) %></td>
        <td><%= transaction_log.change.primary_key %></td>
        <td><%= transaction_log.change.transaction_type %></td>
      </tr>
  <% end %>
</table>
