<h1>Transactions</h1>

<%= search_form_for @q, url: request.path do |c| %>
    <div id="text_search">
      <%= c.text_field :change_uuid_cont, :placeholder => "Search any text fields" %>
      <%= c.submit %>
      <%= link_to "clear", request.path %>
    </div>
<% end %>
<br>

<table>
  <tr>
    <th>Delivery Log</th>
    <th>Queued At</th>
    <th>Delivery</th>
    <th>Subscriber</th>
    <th>Change</th>
    <th>Primary Key</th>
    <th>Transaction Type</th>
  </tr>

  <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to "Show", transaction %></td>
        <td><%= transaction.queue_time %></td>
        <td><%= link_to "Delivery", transaction.delivery unless transaction.delivery.nil? %></td>
        <td><%= link_to transaction.subscription.subscriber.name, subscriber_path(transaction.subscription.subscriber) unless transaction.subscription.subscriber.nil? %></td>
        <td><%= link_to "Change", change_path(transaction.change.crop) %></td>
        <td><%= transaction.change.primary_key %></td>
        <td><%= transaction.change.transaction_type %></td>
      </tr>
  <% end %>
</table>

<%= paginate @transactions %>