<h1>Subscription</h1>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td>Active:</td>
    <td><%= @subscription.active %></td>
  </tr>

  <tr>
    <td>Crop:</td>
    <td><%= @subscription.crop.name %></td>
  </tr>

  <tr>
    <td>Subscriber:</td>
    <td><%= @subscription.subscriber.name %></td>
  </tr>

  <tr>
    <td>Endpoint URL:</td>
    <td><%= @subscription.endpoint_url %></td>
  </tr>
  <tr>
    <td>Tractor quantity:</td>
    <td><%= @subscription.tractor_quantity %></td>
  </tr>
  </tbody>
</table>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
<%= link_to 'Destroy', subscription_path, :confirm => 'Are you sure?', :method => :delete %>
