<h1>Subscribers</h1>

<a href="#" name="search">Search</a>
<%= search_form_for @q, url: request.path do |c| %>
    <div id="text_search">
      <%= c.text_field :name_or_admin_contact_or_technical_contact_cont, :placeholder => "Search any text fields" %>
      <%= c.submit %>
      <%= link_to "clear", request.path %>
    </div>
<% end %>


<p><%= link_to 'New Subscriber', new_subscriber_path %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Admin Contact</th>
    <th>Technical Contact</th>
    <th>Number of Subscriptions</th>
  </tr>

  <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= link_to subscriber.name, subscriber %></td>
        <td><%= subscriber.admin_contact %></td>
        <td><%= subscriber.technical_contact %></td>
        <td><%= link_to_if_not_zero subscriber.subscriptions.count, subscriptions_path({:q => {:subscriber_id_eq => subscriber.id}})%></td>
      </tr>
  <% end %>

</table>

<%= paginate @subscribers %>