<h1>Subscriber</h1>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Name:</td>
    <td><%= @subscriber.name %></td>
  </tr>

  <tr>
    <td>Secret key:</td>
    <td><%= @subscriber.secret_key %></td>
  </tr>

  <tr>
    <td>Admin contact:</td>
    <td><%= @subscriber.admin_contact %></td>
  </tr>

  <tr>
    <td>Technical contact:</td>
    <td><%= @subscriber.technical_contact %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_subscriber_path %>
<%= link_to 'Destroy', subscribers_path, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Back', subscribers_path %>

