<h1>Deliveries</h1>

<a href="#" name="search">Search</a>
<%= search_form_for @q, url: request.path do |c| %>
    <div id="text_search">
      <%= c.text_field :uuid_or_endpoint_response_code_or_endpoint_response_data_or_endpoint_response_header_cont, :placeholder => "Search any text fields" %>
      <%= c.submit %>
      <%= link_to "clear", request.path %>
    </div>
<% end %>

<br>

<table>
  <tr>
    <th>Log</th>
    <th>Queued At</th>
    <th>Transaction UID</th>
    <th>Subscriber</th>
    <th>Response Code</th>
    <th>Response Date</th>
  </tr>

  <% @deliveries.each do |delivery| %>
      <tr>
        <td><%= link_to "Show", delivery_path(delivery) %></td>
        <td><%= delivery.queue_time %></td>
        <td><%= link_to delivery.transaction.uuid, transaction_path(delivery.transaction) unless delivery.transaction.nil? %></td>
        <td><%= link_to delivery.transaction.subscription.subscriber.name, subscriber_path(delivery.transaction.subscription.subscriber) unless delivery.transaction.nil? %></td>
        <td><%= delivery.endpoint_response_code %></td>
        <td><%= delivery.endpoint_response_date %></td>
      </tr>
  <% end %>
</table>
