<h1>Delivery</h1>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Delivery UUID</td>
    <td><%= @delivery.uuid %></td>
  </tr>

  <tr>
    <td>Transaction UUID</td>
    <td><%= link_to @delivery.transaction_uuid, transaction_path(@delivery.transaction) %></td>
  </tr>

  <tr>
    <td>Subscriber</td>
    <td><%= link_to @delivery.transaction.subscription.subscriber.name, subscriber_path(@delivery.transaction.subscription.subscriber) unless @delivery.transaction.nil? %></td>
  </tr>
  <tr>
    <td>Queue time</td>
    <td><%= @delivery.queue_time %></td>
  </tr>
  <tr>
    <td>Crop</td>
    <td><%= link_to @delivery.transaction.change.crop.name, crop_path(@delivery.transaction.change.crop) unless @delivery.transaction.nil? %></td>
  </tr>
  <tr>
    <td>Endpoint Response Code</td>
    <td><%= @delivery.endpoint_response_code %></td>
  </tr>
  <tr>
    <td>Endpoint Response Header</td>
    <td><%= @delivery.endpoint_response_header %></td>
  </tr>
  <tr>
    <td>Endpoint Response Data</td>
    <td><%= @delivery.endpoint_response_data %></td>
  </tr>
  <tr>
    <td>Endpoint Response Date</td>
    <td><%= @delivery.endpoint_response_date %></td>
  </tr>
</table>


<br>
<%= link_to 'Back', deliveries_path %>
