<h1>Delivery Log</h1>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Delivery UUID</td>
    <td><%= @delivery_log.delivery_log_uuid %></td>
  </tr>

  <tr>
    <td>Transaction UUID</td>
    <td><%= link_to @delivery_log.transaction_uuid, transaction_log_path(@delivery_log.transaction_log) %></td>
  </tr>

  <tr>
    <td>Subscriber</td>
    <td><%= link_to @delivery_log.transaction_log.subscription.subscriber.name, subscriber_path(@delivery_log.transaction_log.subscription.subscriber) unless @delivery_log.transaction_log.nil? %></td>
  </tr>
  <tr>
    <td>Queue time</td>
    <td><%= @delivery_log.queue_time %></td>
  </tr>
  <tr>
    <td>Crop</td>
    <td><%= link_to @delivery_log.transaction_log.change_log.crop.name, crop_path(@delivery_log.transaction_log.change_log.crop) unless @delivery_log.transaction_log.nil? %></td>
  </tr>
  <tr>
    <td>Endpoint Response Code</td>
    <td><%= @delivery_log.endpoint_response_code %></td>
  </tr>
  <tr>
    <td>Endpoint Response Header</td>
    <td><%= @delivery_log.endpoint_response_header %></td>
  </tr>
  <tr>
    <td>Endpoint Response Data</td>
    <td><%= @delivery_log.endpoint_response_data %></td>
  </tr>
  <tr>
    <td>Endpoint Response Date</td>
    <td><%= @delivery_log.endpoint_response_date %></td>
  </tr>
</table>


<br>
<%= link_to 'Back', delivery_logs_path %>
