<h1>Crop (<%= @total.count %>)</h1>

<a href="#" name="search">Search</a>
<%= search_form_for @q, url: request.path do |c| %>
    <div id="text_search">
      <%= c.text_field :name_or_description_cont, :placeholder => "Search any text fields" %>
      <%= c.submit %>
      <%= link_to "clear", request.path %>
    </div>
<% end %>

<p><%= link_to 'New Crop', new_crop_path %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Crop Number</th>
    <th># Subscriptions</th>
    <th>A/C/D</th>
    <th>Harvests</th>
    <th>Description</th>
  </tr>

  <% @crops.each do |crop| %>
      <tr>
        <td><%= link_to crop.name, crop %></td>
        <td><%= crop.crop_number %></td>
        <td><%= link_if_not_zero crop.subscriptions.count,        subscriptions_path({:q => {:crop_id_eq => crop.id}})%>
        <td><%= link_to crop.number_of_things("add"),    changes_path({:q => {:crop_id_eq => crop.id, :transaction_type_eq => "add"}})%>/
          <%=   link_to crop.number_of_things("change"), changes_path({:q => {:crop_id_eq => crop.id, :transaction_type_eq => "change"}})%>/
          <%=   link_to crop.number_of_things("delete"), changes_path({:q => {:crop_id_eq => crop.id, :transaction_type_eq => "delete"}})%>
        </td>
        <td><%= crop.description %></td>
      </tr>
  <% end %>
</table>

<%= paginate @crops %>