<h1>Crop</h1>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Name:</td>
    <td><%= @crop.name %></td>
  </tr>

  <tr>
    <td>Crop Number:</td>
    <td><%= @crop.crop_number %></td>
  </tr>

  <tr>
    <td>Description:</td>
    <td><%= @crop.description %></td>
  </tr>

  <tr>
    <td>Harvests:</td>
    <td>TODO</td>
  </tr>

  <tr>
    <td>Config Options:</td>
    <td><%= @crop.config_options %></td>
  </tr>

  <tr>
     <td>Subscriptions:</td>
     <td><%= @crop.subscriptions.count %></td>
   </tr>

  <tr>
    <td>Adds/Changes/Deletes</td>
  <td><%= link_to @crop.number_of_things("add"),    transaction_path({:q => {:crop_id_eq => @crop.id, :transaction_type_eq => "add"}})%>/
    <%=   link_to @crop.number_of_things("change"), transaction_path({:q => {:crop_id_eq => @crop.id, :transaction_type_eq => "change"}})%>/
    <%=   link_to @crop.number_of_things("delete"), transaction_path({:q => {:crop_id_eq => @crop.id, :transaction_type_eq => "delete"}})%>
  </td>
  </tr>

  </tbody>
</table>

<br>

<%= link_to 'Back', crops_path %>
<%= link_to 'Edit', edit_crop_path(@crop) %> |
<%= link_to 'Destroy', crop_path, :confirm => 'Are you sure?', :method => :delete %>

