<h1>Transaction Log</h1>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Delivery UUID</td>
    <td><%= link_to @transaction_log.delivery_log.delivery_log_uuid, @transaction_log.delivery_log if @transaction_log.delivery_log %></td>
  </tr>
  <tr>
    <td>Transaction UUID:</td>
    <td><%= @transaction_log.transaction_uuid %></td>
  </tr>
  <tr>
    <td>Subscriber:</td>
    <td><%= link_to @transaction_log.subscription.subscriber.name, subscriber_path(@transaction_log.subscription.subscriber) unless @transaction_log.subscription.subscriber.nil? %></td>
  </tr>
  <tr>
    <td>Crop:</td>
    <td><%= link_to @transaction_log.change_log.crop.name, crop_path(@transaction_log.change_log.crop) %></td>
  </tr>
  <tr>
    <td>Change Log:</td>
    <td><%= link_to @transaction_log.queue_time, change_log_path(@transaction_log.change_log) unless @transaction_log.change_log.nil? %></td>
  </tr>
  <tr>
    <td>Delivered:</td>
    <td><%= link_to(@transaction_log.delivery_log.endpoint_response_date, @transaction_log.delivery_log) unless @transaction_log.delivery_log.nil? %></td>
  </tr>
  <tr>
    <td>Queue time:</td>
    <td><%= @transaction_log.queue_time %></td>
  </tr>
  <tr>
    <td>Primary Key:</td>
    <td><%= @transaction_log.change_log.primary_key %></td>
  </tr>
  <tr>
    <td>Previous Value:</td>
    <td><%= @transaction_log.change_log.previous_value %></td>
  </tr>
  <tr>
    <td>Current Value:</td>
    <td><%= @transaction_log.change_log.current_value %></td>
  </tr>
  </tbody>
</table>

<br>
<%= link_to 'Back', transaction_logs_path %>
